In [1]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
% matplotlib inline

In [37]:
census = gpd.read_file('./data/processed/ca_counties.geojson')
dac_meta = pd.ExcelFile("./data/dac/SB-535-List-of-DACs_CES30.xlsx")
dac_all = dac_meta.parse('SB535 All Data')
ces3_master = pd.ExcelFile('./data/dac/ces3results.xlsx')
ces3_final = ces3_master.parse('CES3.0FINAL_results')

# Preprocessing

In [38]:
census.head()

,GEO_ID,STATE,COUNTY,TRACT,NAME,LSAD,CENSUSAREA,census_tra,geometry
0,1400000US06001425103,06,001,425103,4251.03,Tract,0.341,2147483647,"POLYGON ((-122.292355 37.849359, -122.289561 3..."
1,1400000US06001425104,06,001,425104,4251.04,Tract,0.415,2147483647,"POLYGON ((-122.278597 37.828544, -122.278057 3..."
2,1400000US06001426100,06,001,426100,4261,Tract,1.155,2147483647,"POLYGON ((-122.228079 37.833026, -122.224486 3..."
3,1400000US06001427100,06,001,427100,4271,Tract,0.396,2147483647,"POLYGON ((-122.229935 37.760063, -122.229686 3..."
4,1400000US06001427800,06,001,427800,4278,Tract,0.321,2147483647,"POLYGON ((-122.263533 37.769242, -122.263596 3..."

In [30]:
# census.columns = map(str.lower, census.columns)
census.columns = ['geo_id', 'state', 'county', 'tract', 'name', 'lsad', 'censusarea',
               'census_tract', 'geometry']
dac_all.columns = map(str.lower, dac_all.columns)
dac_all.columns = [ x.replace(' ', "_") for x in dac_all.columns ]
ces3_final.columns = map(str.lower, ces3_final.columns)
ces3_final.columns = [ x.replace(' ', "_") for x in ces3_final.columns ]

# Merging

In [31]:
census.head()

,geo_id,state,county,tract,name,lsad,censusarea,census_tract,geometry
0,1400000US06001425103,06,001,425103,4251.03,Tract,0.341,2147483647,"POLYGON ((-122.292355 37.849359, -122.289561 3..."
1,1400000US06001425104,06,001,425104,4251.04,Tract,0.415,2147483647,"POLYGON ((-122.278597 37.828544, -122.278057 3..."
2,1400000US06001426100,06,001,426100,4261,Tract,1.155,2147483647,"POLYGON ((-122.228079 37.833026, -122.224486 3..."
3,1400000US06001427100,06,001,427100,4271,Tract,0.396,2147483647,"POLYGON ((-122.229935 37.760063, -122.229686 3..."
4,1400000US06001427800,06,001,427800,4278,Tract,0.321,2147483647,"POLYGON ((-122.263533 37.769242, -122.263596 3..."

In [33]:
census_dac = census.merge(dac_all, on='census_tract')

In [34]:
census_dac.head()

Empty GeoDataFrame
Columns: [geo_id, state, county, tract, name, lsad, censusarea, census_tract, geometry, total_population, california_county, approximate_zip_code, nearby_city_
(to_help_approximate_location_only), longitude, latitude, calenviroscreen
3.0_score, calenviroscreen_3.0_
percentile_range, ozone, ozone_pctl, pm2.5, pm2.5_pctl, diesel_pm, diesel_pm_pctl, drinking_water, drinking_water_pctl, pesticides, pesticides_pctl, tox._release, tox._release_pctl, traffic, traffic_pctl, cleanup_sites, cleanup_sites_pctl, groundwater_threats, groundwater_threats_pctl, haz._waste, haz._waste_pctl, imp._water_bodies, imp._water_bodies_pctl, solid_waste, solid_waste_pctl, pollution_burden_score, pollution_burden_pctl, asthma, asthma_pctl, low_birth_weight, low_birth_weight_pctl, cardiovascular_disease, cardiovascular_disease_pctl, education, education_pctl, linguistic_isolation, linguistic_isolation_pctl, poverty, poverty_pctl, unemployment, unemployment_pctl, housing_burden, housing_burden_pctl, pop._char._score, pop._char._pctl]
Index: []

[0 rows x 61 columns]